* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cls-1 {
    stroke: none;
    stroke-width: 0.25pt;
    fill: none;
}
.cls-2 {
    stroke: black;
    fill: none;
    stroke-width: 4pt;
    z-index: 100;
}
.county:hover {
    stroke: blanchedalmond;
    stroke-width: 0.5pt;
}